InlayHints:
  ParameterNames: false
  DeducedTypes: false
  Designators: false
  
Diagnostics:
  UnusedIncludes: None
  Suppress: [pp_file_not_found]

CompileFlags:
  Add: [-Wno-inline-namespace-reopened-noninline]